body {
  background: rgb(104, 104, 178);
}

.img {
  background-image: url(king.JPG);
  position: relative;
  top: 3px;
  left: 2px;
  height: 165px;
  width: 245px;
  cursor: pointer;
}

.box {
  display: inline-block;
  height: 170px;
  width: 250px;
  background-color: white;
  border: 1px black solid;
}

.hold {
  border: 1px solid green;
}

.dashed {
  border-style: dashed;
  background-color: rgb(167, 161, 167);
}
/* 
.hide {
  display: none;
} */
